<div class="top-right-btn">
    <a href="/logout">Выйти</a>
</div>
<div class="top-right-btn">
    <a href="/cart">
        <img src="images/bag.png" alt="">
        <div>Корзина</div>
    </a>
</div>
<br>