<footer class="footer">
    <div class="footer_content">
        <div class="section_container">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-xxl-3 col-md-6 footer_col">
                        <div class="footer_about">
                            <div class="footer_logo">
                                <a href="#">
                                    <div>my<span>Protein</span></div>
                                </a>
                            </div>
                            <div class="footer_about_text">
                                <p>2021 © The Hut.com Limited - компания, зарегистрированная в Англии и Уэльсе (регистрационный номер компании 05016010). Адрес регистрации: Voyager House, Chicago Avenue, Manchester Airport, M90 3DQ.</p>
                            </div>
                            <div class="cards">
                                <ul class="d-flex flex-row align-items-center justify-content-start">
                                    <li>
                                        <a href="#"><img src="images/card_1.jpg" alt=""></a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="images/card_2.jpg" alt=""></a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="images/card_3.jpg" alt=""></a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="images/card_4.jpg" alt=""></a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="images/card_5.jpg" alt=""></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-md-6 footer_col">
                        <div class="footer_questions">
                            <div class="footer_title">Продукты</div>
                            <div class="footer_list">
                                <ul>
                                    <li><a href="/catalog1">Протеин</a></li>
                                    <li><a href="/catalog2">Батончики и снеки</a></li>
                                    <li><a href="/catalog3">Аминокислоты</a></li>
                                    <li><a href="/catalog4">Витамины</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-md-6 footer_col">
                        <div class="footer_contact">
                            <div class="footer_title">Контакты</div>
                            <div class="footer_contact_list">
                                <ul>
                                    <li class="d-flex flex-row align-items-start justify-content-start"><span>A.</span>
                                        <div>г. Москва, Профсоюзная улица, 32, корп. 1.</div>
                                    </li>
                                    <li class="d-flex flex-row align-items-start justify-content-start"><span>T.</span>
                                        <div>+44-161-8131487</div>
                                    </li>
                                    <li class="d-flex flex-row align-items-start justify-content-start"><span>E.</span>
                                        <div>feedback@Myprotein.com</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_social">
        <div class="section_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="footer_social_container d-flex flex-row align-items-center justify-content-center">
                            <a href="https://www.instagram.com/myproteinru/">
                                <div class="footer_social_item d-flex flex-row align-items-center justify-content-start">
                                    <div class="footer_social_icon"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                                    <div class="footer_social_title">instagram</div>
                                </div>
                            </a>
                            <a href="https://ru-ru.facebook.com/MyproteinRussia">
                                <div class="footer_social_item d-flex flex-row align-items-center justify-content-start">
                                    <div class="footer_social_icon"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                                    <div class="footer_social_title">facebook</div>
                                </div>
                            </a>
                            <a href="https://www.youtube.com/channel/UCAL_tHVj_ihD5mCIMkrL6pQ">
                                <div class="footer_social_item d-flex flex-row align-items-center justify-content-start">
                                    <div class="footer_social_icon"><i class="fa fa-youtube" aria-hidden="true"></i></div>
                                    <div class="footer_social_title">youtube</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="credits">
        <div class="section_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="credits_content d-flex flex-row align-items-center justify-content-end">
                            <div class="credits_text">
                                Copyright &copy;
                                <script>
                                    document.write(new Date().getFullYear());
                                </script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

